# EditorConfig: https://EditorConfig.org
root = true

# すべてのファイル
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Dart & Flutter
[*.dart]
indent_style = space
indent_size = 2
max_line_length = 80

# YAML (pubspec.yaml, analysis_options.yaml等)
[*.yaml]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# XML (Android)
[*.xml]
indent_style = space
indent_size = 4
